<!-- HEADER -->
{{!-- <div class="container-fluid center p-5"
    style="background: #eeede0 url(blog_cover{{this.blog_id}}) no-repeat center; background-size:cover; height=500px;">
    <div class="header-title text-center">
        <h5 class="font-weight-bold text-uppercase sub-title">{{this.blog_title}}</h5>
        <p class="sub-caption text-center" id="blog-datetime">{{this.blog_author}} |
            {{dateFormat this.blog_date "MMMM Do, YYYY"}}</p>
    </div>
</div> --}}

<div class="bg-image"></div>
<div class="bg-text">
    <h5 class="font-weight-bold text-uppercase sub-title" style="color:white">{{this.blog_title}}</h5>
    <p class="sub-caption text-center" id="blog-datetime" style="color:white">{{this.blog_author}} |
        {{dateFormat this.blog_date "MMMM Do, YYYY"}}</p>
</div>

<!-- BODY -->
<div class="the-content sub-caption p-5">
    {{{this.blog_content}}}
</div>
<br>

<style>
    .bg-image {
        /* The image used */
        background-image: url(blog_cover{{this.blog_id}});

        /* Add the blur effect */
        -webkit-filter: blur(2px);

        /* Full height */
        height: 50%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* Position text in the middle of the page/image */
    .bg-text {
        color: white;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 100%;
        padding: 20px;
        text-align: center;
    }
</style>