<!-- HEADER -->
{{!-- <section> --}}
<div class="container-fluid center p-5"
    style="background: #eeede0 url(blog_cover{{this.blog_id}}) no-repeat center; background-size:cover; height=500px;">
    <div class="header-title text-center">
        <h5 class="font-weight-bold text-uppercase sub-title">{{this.blog_title}}</h5>
        <p class="sub-caption text-center" id="blog-datetime">{{this.blog_author}} |
            {{dateFormat this.blog_date "MMMM Do, YYYY"}}</p>
    </div>
</div>
{{!-- </section> --}}

<!-- BODY -->
<div class="the-content sub-caption p-5">
    {{{this.blog_content}}}
</div>
<br>