<!-- HEADER -->
<div class="bg-image">
  <a href="/a-project?id={{this.proj_id}}">
      <img width="100%" src="/proj_cover{{this.proj_id}}">
  </a>
</div>
<div class="bg-text">
  <h5 class="font-weight-bold text-uppercase sub-title" style="color:white">{{this.proj_title}}</h5>
  <p class="sub-caption text-center" style="color:white">{{this.proj_status}} •
    {{dateFormat this.proj_date "MMMM Do, YYYY"}}</p>
</div>

<!-- BODY -->
<div class="the-content sub-caption px-1 pt-5 pb-3">
  <!-- CONTENT -->
  {{{this.proj_content}}}
</div>
<div class="the-content sub-caption px-1 pb-5 ">
  <p>
    <b>Keyword: </b><a href="/projects/search?msg={{this.proj_keyword}}">{{this.proj_keyword}}</a>
  </p>
  <a href="/projects" class="viewer-back">
    < BACK TO PROJECTS</a>
</div>

<style>
  .bg-image {
    /* The image used */
    background-image: url(proj_cover{{this.proj_id}});

    /* Add the blur effect */
    -webkit-filter: blur(2px);

    /* Full height */
    height: 50%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #bfbea6;
  }

  /* Position text in the middle of the page/image */
  .bg-text {
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    padding: 20px;
    text-align: center;
  }
</style>