<!-- HOW IT WAS FOUNDED -->
<div class="container-fluid">
    <div class="row p-5 my-5 d-flex align-items-center">
        <div class="col d-none d-lg-block">
            <img src="/about_pic" width="100%">
        </div>
        <div class="col">
            {{!-- <h5 class="font-weight-bold text-uppercase sub-title">How TIPH was founded</h5> --}}
            <h5 class="font-weight-bold text-uppercase sub-title">{{about_content.about_title}}</h5>
            {{!-- <p class="sub-caption">TIPH was established by De La Salle University - Senior High School (DLSU - SHS) Taft
                Campus students
                After that, it slowly expanded to other schools across Metro Manila.</p> --}}
            <div class="sub-caption">
                {{{about_content.about_description}}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <p class="font-weight-bold text-uppercase sub-header">Management</p>
        </div>
    </div>

    <div class="accordion about-us-acc">
        {{#each department_content}}{{#equals this.department_category "Management"}}
        <div class="object-container card">
            <div class="card-header" id="heading{{this._id}}" style="background-color: #a67f46">
                <h5 class="mb-0">
                    <button class="collapsible collapsed " data-toggle="collapse" data-target="#collapse{{this._id}}"
                        aria-expanded="false" aria-controls="collapse{{this._id}}">
                        <i class="fa fa-angle-right"></i>
                        {{this.department_title}}
                    </button>
                </h5>
            </div>

            <div id="collapse{{this._id}}" class="collapse" aria-labelledby="heading{{this._id}}"
                data-parent=".accordion">
                <div class="card-body content">
                    {{{this.department_description}}}<br>
                    <p>{{{this.department_contact}}}<br></p>
                </div>
            </div>
        </div>
        {{/equals}}{{/each}}
        <br><br>
        <hr><br>
    </div>
    <div class="row">
        <div class="col text-center">
            <p class="font-weight-bold text-uppercase sub-header">Operations</p>
        </div>
    </div>

    <div class="accordion about-us-acc">
        {{#each department_content}}{{#equals this.department_category "Operations"}}
        <div class="object-container card">
            <div class="card-header" id="heading{{this._id}}" style="background-color: #a67f46">
                <h5 class="mb-0">
                    <button class="collapsible collapsed " data-toggle="collapse" data-target="#collapse{{this._id}}"
                        aria-expanded="false" aria-controls="collapse{{this._id}}">
                        <i class="fa fa-angle-right"></i>
                        {{this.department_title}}
                    </button>
                </h5>
            </div>

            <div id="collapse{{this._id}}" class="collapse" aria-labelledby="heading{{this._id}}"
                data-parent=".accordion">
                <div class="card-body content">
                    {{{this.department_description}}}<br>
                    <p>{{{this.department_contact}}}<br></p>
                </div>
            </div>
        </div>
        {{/equals}}{{/each}}

        {{!-- REFERENCE --}}
        {{!-- <div class="object-container card">
            <div class="card-header" id="headingFour" style="background-color: #a67f46">
                <h5 class="mb-0">
                    <button class="collapsible collapsed " data-toggle="collapse" data-target="#collapseFour"
                        aria-expanded="false" aria-controls="collapseFour">
                        <i class="fa fa-angle-right"></i>
                        Department of Disaster Mitigation and Recovery
                    </button>
                </h5>
            </div>

            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent=".accordion">
                <div class="card-body content">
                    <p>DDMR works towards responding to areas and communities affected by natural calamity or
                        catastrophic accidents.</p>
                    <br>
                    <p>theinitiativeph@gmail.com
                        <br>
                    </p>
                </div>
            </div>
        </div> --}}
    </div>
</div>
<br><br>

<script>
    $(document).ready(function () {
        // Add down arrow icon for collapse element which is open by default
        $(".collapse.show").each(function () {
            $(this).prev(".card-header").find(".fa").addClass("fa-angle-down").removeClass("fa-angle-right");
        });

        // Toggle right and down arrow icon on show hide of collapse element
        $(".collapse").on('show.bs.collapse', function () {
            $(this).prev(".card-header").find(".fa").removeClass("fa-angle-right").addClass("fa-angle-down");
        }).on('hide.bs.collapse', function () {
            $(this).prev(".card-header").find(".fa").removeClass("fa-angle-down").addClass("fa-angle-right");
        });
    });
</script>