<form class="needs-validation" method="POST" action="application" enctype="multipart/form-data" novalidate>
    <div class="container-fluid m-auto pb-5" style="text-align: center">
        <!-- HEADER -->
        <h5 class="font-weight-bold text-uppercase sub-title pt-5" style="margin-top: 20px;">APPLICATION FORM</h5>
        <h6 class="font-weight-bold apps-sub-header" id="app_year">{{appform_year}}</h6>

        <!-- INFO -->
        <div class="object-container">
            <p class="sub-caption">{{{appform_desc}}}</p>

        </div>
    </div>
    <br><br>
    <div class="container-fluid m-auto px-5">
        <h6 class="contact-font-texts">{{{msg}}}</h6>
        <h4 class="cms-font-text-error" id="app-error">{{appErrorMessage}}</h4>
        <h5><star>*</star> Required Fields</h5>
        <br>
        <h5 class="font-weight-bold apps-sub-header pb-1" id="step1">STEP 1: FILL OUT THE FORM</h5>
        <h6 class="apps-sub-header pb-1" style="font-size: 20px;">Personal Information</h6>
        <div class="sub-caption">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="form-firstname">First Name <star>*</star></label>
                    <input type="text" class="form-control" name="app_firstname" id="app_firstname"
                        placeholder="First Name" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="form-lastname">Last Name <star>*</star></label>
                    <input type="text" class="form-control" name="app_lastname" id="app_lastname"
                        placeholder="Last Name" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="form-nickname">Nickname <star>*</star></label>
                    <input type="text" class="form-control" name="app_nickname" id="app_nickname"
                        placeholder="Nickname" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="form-birthday">Date of Birth <star>*</star></label>
                    <input type="date" class="form-control" name="app_bday" id="app_bday"
                        placeholder="Date of Birth" required>
                </div>
                
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="form-city">City of Residence <star>*</star></label>
                    <input type="text" class="form-control" name="app_cResidence" id="app_cResidence"
                        placeholder="City of Residence" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="form-schoolcompany">School/Company <star>*</star></label>
                    <input type="text" class="form-control" name="app_schoolcompany" id="app_schoolcompany"
                        placeholder="School/Company" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="app_findout">How did you find out about TIPH? <star>*</star></label>
                    <select class="form-control" id="app_findout" name="app_findout" required>
                        <option value="Family">Family</option>
                        <option value="Friend">Friend</option>
                        <option value="Facebook">Facebook</option>
                        <option value="Twitter">Twitter</option>
                        <option value="Instagram">Instagram</option>
                        <option value="LinkedIn">LinkedIn</option>
                        <option value="Wordpress">Wordpress</option>
                        <option value="School">School</option>
                        <option value="Company">Company</option>
                        <option value="other">Other...</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="app_others">If other...</label>
                    <input type="text" class="form-control" name="app_others" id="app_others">
                </div>
            </div>

            <br><br>

            <h6 class="apps-sub-header pb-1" style="font-size: 20px;">Contact Information</h6>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="form-email">Email <star>*</star></label>
                    <input type="email" class="form-control" name="app_email" id="app_email" placeholder="Email"
                        required>
                </div>
                <div class="form-group col-md-6">
                    <label for="form-number">Contact Number <star>*</star></label>
                    <input type="tel" class="form-control" name="app_number" id="app_number"
                        placeholder="Contact Number" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="form-facebook">Facebook URL <star>*</star></label>
                    <input type="text" class="form-control" name="app_facebook" id="app_facebook"
                        placeholder="Facebook URL" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="form-twitter">Twitter URL (Optional)</label>
                    <input type="url" class="form-control" name="app_twitter" id="app_twitter"
                        placeholder="Twitter URL">
                </div>
            </div>
        </div>

        {{!-- <div class="div-last-first div-flex">
            <div class="div-lastname">
                <input type="text" name="form-lastname" id="form-lastname" class="app-form-text width" placeholder="Dela Cruz">
                <h6 class="font-weight-bold">LAST NAME</h6>

            </div>
            <div class="div-firstname margin-left">
                <input type="text" name="form-firstname" id="form-firstname" class="app-form-text width" placeholder="Juana">
                <h6 class="font-weight-bold">FIRST NAME</h6>
            </div>
        </div>
        <div class="div-nickname-email div-flex">
            <div class="div-nickname">
                <input type="text" name="form-nickname" id="form-nickname" class="app-form-text width" placeholder="Ana">
                <h6 class="font-weight-bold">NICKNAME</h6>

            </div>
            <div class="div-email margin-left">
                <input type="email" name="form-email" id="form-email" class="app-form-text width" value required>
                <h6 class="font-weight-bold">EMAIL</h6>
            </div>
        </div>
        <div class="div-birthday-city div-flex">
            <div class="div-birthday">
                <input type="date" name="form-birthday" id="form-birthday" class="width">
                <h6 class="font-weight-bold">DATE OF BIRTH</h6>
            </div>
            <div class="div-city margin-left">
                <input type="text" name="form-city" id="form-city" class="width">
                <h6 class="font-weight-bold">CITY OF RESIDENCE</h6>
            </div>
        </div>
        <div class="div-schoolcompany-number div-flex">
            <div class="div-schoolcompany">
                <input type="text" name="form-schoolcompany" id="form-schoolcompany" class="width">
                <h6 class="font-weight-bold">SCHOOL/COMPANY</h6>
            </div>
            <div class="div-number margin-left">
                <input type="tel" name="form-number" id="form-number" class="width">
                <h6 class="font-weight-bold">CONTACT NUMBER</h6>
            </div>
        </div>
        <div class="div-facebook-twitter div-flex">
            <div class="div-facebook">
                <input type="url" name="form-facebook" id="form-facebook" class="width">
                <h6 class="font-weight-bold">FACEBOOK URL</h6>
            </div>
            <div class="div-twitter margin-left">
                <input type="url" name="form-twitter" id="form-twitter" class="width">
                <h6 class="font-weight-bold">TWITTER URL (optional)</h6>
            </div>
        </div>
        <div class="div-findout fixx" style="margin-top: 20px;">
                <select name="findout" id="findout" onchange='GetFindOut(this.value);' class="width">
                <option value="family">Family</option>
                <option value="friend">Friend</option>
                <option value="facebook">Facebook</option>
                <option value="twitter">Twitter</option>
                <option value="instagram">Instagram</option>
                <option value="linkedin">LinkedIn</option>
                <option value="wordpress">Wordpress</option>
                <option value="school">School</option>        
                <option value="company">Company</option>
                <option value="other">Other...</option>
            </select>
            <input type="text" name="findouttxt" id="findouttxt" style="display:none; margin-top: 15px; border-color: red" class="width" placeholder="Please Specify"/>
            <h6 class="font-weight-bold"> HOW DID YOU FIND OUT ABOUT TIPH?</h6>
        </div>  --}}

        <hr>

        {{!-- <h5 class="font-weight-bold apps-sub-header pb-1" id="role-registration">STEP 2: ROLE REGISTRATION</h5>
        <div class="sub-caption">
            <p><strong>
                    There are two (2) branches in the organizational structure: The Management Branch (MB) and the
                    Operations Branch (OB). <br><br>

                    Under the Management Branch (MB):</strong>
            </p>
            <ul>
                <li>Department of Administrative Affairs (DAA)</li>
                <li>Department of Publications and Communications (DPC)</li>
                <li>Department of Marketing and Finance (DMF)*</li>
            </ul>
            <p class="sub-caption"><strong>Under the Operations Branch (OB):</strong></p>
            <ul>
                <li>Department of Disaster Mitigation and Recovery (DDMR)</li>
                <li>Department of Marginalized Community Action (DMCA)*</li>
                <li>Department of Mental Health (DMH)*</li>
                <li>Department of Animal and Environmental Welfare (DAEW)*</li>
                <li>Department of SOGIE Rights (DSR)</li>
                <li>Department of Initiatives - Project Taft (DI-PT)</li>
                <li>Department of Initiatives - Project Espana (DI-PE)</li>
                <li>Department of Initiatives - Project Katipunan (DI-PK)*</li>
            </ul>
            <p class="sub-caption">You may choose from the Operations Branch for all volunteers will have a respective
                management branch assigned.
                <br><strong>* - Will not open applications</strong>
            </p>
        </div> --}}
        <h6 class="apps-sub-header">STEP 2: ROLE REGISTRATION</h6>
        <div class="div-expertise-txt div-flex pt-3">
            <h5 class="apps-sub-header">Areas of Expertise <star>*</star></h5>
            <p class="sub-caption" style="margin-top: 10px; margin-left: 6px;"> (choose as many as you can)</p>
        </div>
        <div class="div-expertise sub-caption">
            {{!-- <form method="get" id="expertise-check" class="form-container margin-left"> --}}
            <input type="checkbox" name="app_expertise" id="legal-matters" value="Legal Matters"> Legal Matters
            <br>
            <input type="checkbox" name="app_expertise" id="file-organization" value="File Organization"> File Organization
            <br>
            <input type="checkbox" name="app_expertise" id="minute-taking" value="Minute-Taking"> Minute-Taking
            <br>
            <input type="checkbox" name="app_expertise" id="hr-management" value="Human Resource Management"> Human Resource Management
            <br>
            <input type="checkbox" name="app_expertise" id="project-management" value="Project Management"> Project
            Management
            <br>
            <input type="checkbox" name="app_expertise" id="data-driven" value="Data-driven Marketing and Analysis (Social Media Engagement)"> Data-driven Marketing and
            Analysis (Social Media Engagement)
            <br>
            <input type="checkbox" name="app_expertise" id="content-curation" value="Content Curation (Social Media Engagement)"> Content Curation
            (Social Media Management)
            <br>
            <input type="checkbox" name="app_expertise" id="website-design" value="Website Design and Development"> Website Design and
            Development
            <br>
            <input type="checkbox" name="app_expertise" id="content-text" value="Content Creation (Text)"> Content Creation (Text)
            <br>
            <input type="checkbox" name="app_expertise" id="content-multimedia" value="Content Creation (Multimedia)"> Content Creation
            (Multimedia)
            <br>
            <input type="checkbox" name="app_expertise" id="photo-video" value="Photography and Videography"> Photography and Videography
            <br>
            <input type="checkbox" name="app_expertise" id="accounting" value="Accounting"> Accounting
            <br>
            <input type="checkbox" name="app_expertise" id="external-relations" value="External Relations"> External
            Relations
            <br>
            <input type="checkbox" name="app_expertise" id="logistics" value="Logistics"> Logistics
            <br>
        </div>
        {{!-- <div class="">
            <h6 class="apps-sub-header pt-3">Available Positions per Department</h6>
            <p><strong>DEPARTMENT OF PUBLICATIONS AND COMMUNICATIONS (DPC)</strong></p>
            <ul class="sub-caption">
                <li>Multimedia Artist for DDMR, DMH, DSR, DI-PT, DI-PK, DI-PE</li>
                <li>Content Writer for DDMR, DMH, DSR, DI-PT, DI-PK, DI-PE</li>
                <li>Photographer for DDMR, DMCA, DAEW, DSR, DI-PT, DI-PK, DI-PE</li>
                <li>Videographer for DDMR, DMCA, DAEW, DSR, DI-PT, DI-PK, DI-PE</li>
            </ul>
            <p><strong>DEPARTMENT OF DISASTER MITIGATION AND RECOVERY (DDMR)</strong> - Must be at least 17 years old,
                or will be 17 by the year of application</p>
            <ul class="sub-caption">
                <li>External Relations Officers</li>
                <li>Finance Officers</li>
                <li>Multimedia Artists</li>
                <li>Content Writers</li>
                <li>Photographers</li>
                <li>Videographers</li>
            </ul>
            <p><strong>DEPARTMENT OF SOGIE RIGHTS (DSR)</strong></p>
            <ul class="sub-caption">
                <li>External Relations Officers (Partnerships Officers)</li>
                <li>Finance Officers</li>
                <li>Logistics Officers</li>
                <li>Marketing Officers</li>
                <li>Research Officers</li>
            </ul>
            <p><strong>DEPARTMENT OF INITIATIVES – PROJECT ESPAÑA (DI-PE)</strong></p>
            <ul class="sub-caption">
                <li>External Relations Officers</li>
                <li>Finance Officers</li>
                <li>Logistics Officers</li>
                <li>Research Officers</li>
            </ul>
            <p><strong>DEPARTMENT OF INITIATIVES – PROJECT TAFT (DI-PT)</strong></p>
            <ul class="sub-caption">
                <li>Finance Officers</li>
                <li>Multimedia Artists</li>
                <li>Content Writers</li>
                <li>Photographers</li>
                <li>Videographers</li>
            </ul>
        </div> --}}

        <!-- DEPARTMENT OF CHOICE 1 -->
        <div class="div-dept-choice">
            <h6 class="apps-sub-header pt-3">Department of Choice <star>*</star></h6>
            <div class="form-container margin-left sub-caption">
                {{!-- <input type="radio" id="publications-communications" name="app_dept1"
                    value="Department of Publications and Communications (DPC)"> Department of Publications and Communications (DPC) <br>
                <input type="radio" id="disaster-mitigation" name="app_dept1" value="Department of Disaster Mitigation and Recovery (DDMR)"> Department
                of Disaster Mitigation and Recovery (DDMR) <br>
                <input type="radio" id="sogie-rights" name="app_dept1" value="Department of SOGIE Rights (DSR)"> Department of SOGIE
                Rights (DSR) <br>
                <input type="radio" id="initiatives-espana" name="app_dept1" value="Department of Initiatives - Project Espana (DI-PE)"> Department of
                Initiatives - Project Espana (DI-PE)<br>
                <input type="radio" id="initiatives-taft" name="app_dept1" value="Department of Initiatives - Project Taft (DI-PT)"> Department of
                Initiatives - Project Taft (DI-PT)<br> --}}
                {{#each department_info}}
                    {{#if this.department_available}}
                        <input type="radio" id="{{this.department_title}}" name="app_dept1" value="{{this.department_title}}"> {{this.department_title}}<br>
                    {{/if}}
                {{/each}}
            </div>
        </div> <br>
        
        <!-- DESIRED POSITION 1 -->
        <div class="div-position">
            <p class="sub-caption" style="font-size: 20px;">What's your desired position? <star>*</star> </p>
            <select name="app_position1" id="app_position1" style="min-width: 50%; margin-bottom: 15px;" required>
                {{!-- <option value="Secretary">Secretary</option>
                <option value="Multimedia Artist">Multimedia Artist</option>
                <option value="Content Writer">Content Writer</option>
                <option value="Photographer">Photographer</option>
                <option value="Videographer">Videographer</option>
                <option value="External Relations Officer">External Relations Officer</option>
                <option value="Finance Officer">Finance Officer</option>
                <option value="Logistics Officer">Logistics Officer</option>
                <option value="Research Officer">Research Officer</option> --}}
            </select>
        </div>

        <!-- DEPARTMENT OF CHOICE 2 -->
        <div class="div-dept-choice-second pt-3">
            <h6 class="apps-sub-header">Department of Choice <star>*</star> (Second Option)</h6>
            {{!-- <div class="form-container margin-left"> --}}
            <div class="container-fluid sub-caption">
                {{!-- <input type="radio" id="second-disaster-mitigation" name="app_dept2"
                    value="Department of Disaster Mitigation and Recovery (DDMR)"> Department of Disaster Mitigation and Recovery (DDMR) <br>
                <input type="radio" id="second-animal-welfare" name="app_dept2" value="Department of Animal and Environmental Welfare (DAEW)">
                Department of Animal and Environmental Welfare (DAEW)<br>
                <input type="radio" id="second-mental-health" name="app_dept2" value="Department of Mental Health (DMH)">
                Department of Mental Health (DMH)<br>
                <input type="radio" id="second-marginalized-community" name="app_dept2"
                    value="Department of Marginalized Community Action (DMCA)"> Department of Marginalized Community Action (DMCA)<br>
                <input type="radio" id="second-sogie-rights" name="app_dept2" value="Department of SOGIE Rights (DSR)">
                Department of SOGIE Rights (DSR)<br>
                <input type="radio" id="second-initiatives-taft" name="app_dept2"
                    value="Department of Initiatives - Project Taft (DI-PT)"> Department of Initiatives - Project Taft (DI-PT)<br>
                <input type="radio" id="second-initiatives-espana" name="app_dept2"
                    value="Department of Initiatives - Project Espana (DI-PE)"> Department of Initiatives - Project Espana (DI-PE)<br>
                <input type="radio" id="second-initiatives-katipunan" name="app_dept2"
                    value="Department of Initiatives - Project Katipunan (DI-PK)"> Department of Initiatives - Project Katipunan (DI-PK)<br> --}}
                {{#each department_info}}
                    {{#if this.department_available}}
                        <input type="radio" id="{{this.department_title}}" name="app_dept2" value="{{this.department_title}}">{{this.department_title}}<br>
                    {{/if}}
                {{/each}}
            </div>
        </div>

        <!-- DESIRED POSITION 2 -->
        <div class="div-position-2">
            <p class="sub-caption" style="font-size: 20px; margin-top: 15px;">What's your desired position? <star>*</star> </p>
            <select name="app_position2" id="app_position2" style="width: 50%; margin-bottom: 15px;">
                {{!-- <option value="HR Officer">HR Officer</option>
                <option value="Secretary">Secretary</option>
                <option value="Multimedia Artist">Multimedia Artist</option>
                <option value="Content Writer">Content Writer</option>
                <option value="Photographer">Photographer</option>
                <option value="Videographer">Videographer</option>
                <option value="Social Media Curator">Social Media Curator</option>
                <option value="Electronic Postmaster">Electronic Postmaster</option>
                <option value="External Relations Officer">External Relations Officer</option>
                <option value="Finance Officer">Finance Officer</option>
                <option value="Logistics Officer">Logistics Officer</option>
                <option value="Research Officer">Research Officer</option> --}}
            </select>
        </div>

        <!-- REASON FOR JOINING -->
        <div class="div-reason">
            <h6 class="sub-caption" style="font-size: 20px; margin-top: 15px;"><strong>Reason for Volunteering <star>*</star> </strong>
                (Answer in 140 characters or less.)</h6>
            {{!-- <textarea name="comment-txt" id="comment-txt" cols="50" rows="8"></textarea> --}}
            <textarea class="form-control" id="app_reason" name="app_reason" rows="3" required></textarea>
        </div>
        <hr>
        <!-- PORTFOLIO -->
        <div class="div-portfolio">
            <h6 class="apps-sub-header">STEP 3: PORTFORLIO SUBMISSION</h6>
            <p class="sub-caption">
                This is only applicable for those applying for the following positions: <br>

                <strong>Multimedia Artist</strong> - Poster (1), Any digital artwork (3) <br>
                <strong>Content Writer</strong> - Article(1), Caption any event (1), Any written output (2)
                <br>
                <strong>Photographer</strong> - Photos owned by the volunteer (5)
                <br>
                <strong>Videographer</strong> - Any video taken and edited by the volunteer (3)
                <br><br>
                You may place your portfolio link through here or send it via our Email
                <strong>tiph.humanresources@gmail.com </strong>with the subject <br>
                <strong>[LAST NAME] Portfolio</strong>
                <br>
                <!--    The link for the interview sheet will be found at the end of the form. Place your name on the DPC sheet. -->
                <br>
                <strong>DISREGARD THIS</strong> if you did not apply for the aforementioned positions.
            </p>

            <!-- PORTFOLIO UPLOAD -->
            <div class="file-upload">
                {{!-- <input type="file" name="app_portfolio" id="app_portfolio" class="portfolio-upload" enctype="multipart/form-data" multiple> --}}
                <label for="form-facebook">Google Drive/Portfolio URL </label>
                <input type="url" class="form-control" name="app_portfolio" id="app_portfolio" placeholder="Google Drive/Portfolio URL">
            </div>
        </div>
    </div>

    {{!-- <button name="form-submit" id="form-submit" class="submit"><strong>S U B M I T</strong></button> --}}
    <div class="row m-auto pt-5 pb-4">
        <div class="col text-center">
            {{!-- <button class="btn btn-success" type="submit"><strong>SUBMIT</strong></button> --}}
            {{!-- <input type="checkbox" id="form_agree" name="form_agree" value="Agree" style="width: auto;" required>
            <label for="form-agree" class="sub-caption"><strong>I Agree</strong></label><br> --}}
            <button class="apps-button apps-font-texts" type="submit" id="app_submit_btn" name="app_submit_btn"
            onclick="submitConfirm(this)"
            ><strong>S U B M I T</strong></button>
        </div>
    </div>
</form>

<div id="appModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Your Application Form Has Been Submitted!</h4>
            </div>
            <div class="modal-body">
				<p>Your Application Form has been submitted! 
                <br><br>Please schedule an interview with our HR at the link below
                <a href="https://tinyurl.com/tiphinterviews2020">Interview Schedule</a>
                <br><br>Please wait for more details in your given email.</p>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Okay</button>
            </div>
        </div>
    </div>
</div>

{{#if confirmed}}
<script>
  $(document).ready(function () { $('#appModal').modal('show'); });
</script>
{{/if}}

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

<script>
  function submitConfirm(button) {
    if (confirm("Do you agree to the Terms and Conditions of TIPH?")) {
      $.ajax({
        url: "/application",
        success: function (response) {
          window.location.href = 'application';
        },
        error: function (xhr) { }
      });
    }
  }
</script>

<script>
    $(document).ready( function() {
        $("input[name='app_dept1']").on('change',function() {

            selected_value = $("input[name='app_dept1']:checked").val();

            $.get('/application/positions',{dept_name: selected_value}, (data) => {
                $('#app_position1').empty()
                $.each(data, function(index, value) {
                    if(value.position_available){
                        $('#app_position1').append('<option value="'+value.position_name+'">'+value.position_name+'</option>')
                    }
                })
            })  
        });

        $("input[name='app_dept2']").on('change',function() {

            selected_value = $("input[name='app_dept2']:checked").val();

            $.get('/application/positions',{dept_name: selected_value}, (data) => {
                $('#app_position2').empty()
                $.each(data, function(index, value) {
                    if(value.position_available){
                        $('#app_position2').append('<option value="'+value.position_name+'">'+value.position_name+'</option>')
                    }
                })
            })  
        });
    });  
</script>