<!-- HEADER -->
<section>
  <div class="container-fluid">
    <div class="row p-5 mt-5 d-flex align-items-center">
      <div class="col text-lg-left text-center">
        <h5 class="font-weight-bold text-uppercase sub-title">BLOG
          <i class="fa fa-newspaper-o"></i>
        </h5>
      </div>
      <div class="col-lg text-right d-flex flex-row">
        <input class="form-control sub-caption" type="text" placeholder="Search..." id="blog-search"
          onkeyup="blog_search()" aria-label="Search">
      </div>
    </div>
    <div class="row px-5 pt-4 d-flex align-self-center">
      <p class="sub-caption p-3">
        We have an ever-expanding advocacy base that caters to the causes of those who take initiative with us.
        Our projects seek to address issues that arised within our country and at the same time, encourage the youth
        to become more aware on their role as a citizen with social responsibilities.
      </p>
    </div>
  </div>
  <br>
  <div class="container-fluid sort-view d-flex sub-caption">
    <div class="blog-sort d-flex">
      <form method="post">
        <select class="form-control form-control-sm" id="blog-sort-by" name="blog_sort_by"
          onchange="this.form.submit()">
          <option value="" selected disabled hidden>Sort by:</option>
          <option value="ddate" {{#equals sort_string 'ddate'}}selected{{/equals}}>Date (Latest)</option>
          <option value="adate" {{#equals sort_string 'adate'}}selected{{/equals}}>Date (Oldest)</option>
          <option value="atitle" {{#equals sort_string 'atitle'}}selected{{/equals}}>Title (A-Z)</option>
          <option value="dtitle" {{#equals sort_string 'dtitle'}}selected{{/equals}}>Title (Z-A)</option>
        </select>
      </form>
    </div>
  </div>
  <hr>
</section>

<!-- BODY -->
<div id="light-pagination" class="pagination">
  <div class="container-fluid px-5 py-3 pb-5" id="blog-container">
    <div class="row justify-content-center">
      <h5 class="sub-caption">{{blogMessage}}</h5>
    </div>
    {{#each blog_info}}
    {{#if this.blog_published}}
    <div class="blog-item">
      <div class="row d-flex align-items-center blog-row">
        <div class="col-lg-3 p-3">
          <a href="/a-blog?id={{this._id}}">
            <img src="/blog_cover{{this._id}}" width="100%" style="border-radius: 5px;">
          </a>
        </div>
        <div class="col-lg-9 blog-post">
          <a href="/a-blog?id={{this._id}}" style="text-decoration: none">
            <h5 class="card-title blog-title" style="font-size: 25px;">{{this.blog_title}}</h5>
          </a>
          <h6 class="card-subtitle mb-2 text-muted blog-author">By {{this.blog_author}} |
            {{dateFormat this.blog_date "MMMM Do, YYYY"}}</h6>
          <p class="sub-caption blog-caption">{{this.blog_preview}}</p>
          <a href="/a-blog?id={{this._id}}" class="btn btn-secondary" id="{{this._id}}">Continue Reading</a>
        </div>
      </div>
      <hr>
    </div>
    {{/if}}
    {{/each}}
  </div>
</div>

{{!-- {{#equals count 0}}
<div class="text-center pb-5">
  <h4>No blog entries to display.</h4>
</div>
{{/equals}} --}}

<!-- PAGINATION -->

<div class="pb-5">
  <nav aria-label="...">
    <ul class="pagination justify-content-center">
      <li class="page-item {{#equals current 1}}disabled{{/equals}} {{#equals count 0}}disabled{{/equals}}">
        <a class="page-link" {{#equals current 1}} href="#" tabindex="-1" {{else}} href="/blog/{{minus current 1}}"
          {{/equals}}>Previous</a>
      </li>
      {{#repeat count=pages start=1}}
      <li class="page-item {{#equals current @index}}active{{/equals}}"><a class="page-link"
          href="/blog/{{@index}}">{{@index}}{{#equals current @index}}<span
            class="sr-only">(current)</span>{{/equals}}</a></li>
      {{else}}
      <li class="page-item active"><a class="page-link" href="/blog/1">1<span class="sr-only">(current)</span></a></li>
      {{/repeat}}
      <li class="page-item {{#equals current pages}}disabled{{/equals}} {{#equals count 0}}disabled{{/equals}}">
        <a class="page-link" href="/blog/{{add current 1}}">Next</a>
      </li>
    </ul>
  </nav>
</div>