<!-- HEADER -->
<section>
  <div class="container-fluid">
    <div class="row p-5 mt-5 d-flex align-items-center">
      <div class="col text-lg-left text-center">
        <h5 class="font-weight-bold text-uppercase sub-title">BLOG
          <i class="fa fa-newspaper-o"></i>
        </h5>
      </div>
      <div class="col-lg text-right d-flex flex-row">
        <input class="form-control sub-caption" type="text" placeholder="Search..." id="blog-search"
          onkeyup="blog_search()" aria-label="Search">
      </div>
    </div>
  </div>
  <hr>
</section>

<!-- BODY -->
<div class="container-fluid px-5 py-3 pb-5" id="blog-container">
  {{!-- <div class="blog-item">
    <div class="row d-flex align-items-center blog-row">
      <div class="col-lg-3 p-3">
        <img src="assets/img/size-test.jpg" width="100%" style="border-radius: 5px;">
      </div>
      <div class="col-lg-9 blog-post">
        <h5 class="card-title blog-title" style="font-size: 25px;">Blog Entry One</h5>
        <h6 class="card-subtitle mb-2 text-muted blog-author">By Author</h6>
        <p class="sub-caption blog-caption">Some quick example text to build on the card title and make up the bulk of
          the
          card's
          content.</p>
        <a href="a-blog" class="card-link">Read more</a>
      </div>
    </div>
    <hr>
  </div> --}}
  {{#each blog_info}}
  <div class="blog-item" {{#if this.blog_published}}{{else}}style="display:none;" {{/if}}>
    <div class="row d-flex align-items-center blog-row">
      <div class="col-lg-3 p-3">
        <a href="/ablog?id={{this._id}}">
          <img src="assets/img/size-test.jpg" width="100%" style="border-radius: 5px;">
        </a>
      </div>
      <div class="col-lg-9 blog-post">
        <a href="/ablog?id={{this._id}}" style="text-decoration: none"><h5 class="card-title blog-title" style="font-size: 25px;">{{this.blog_title}}</h5></a>
        <h6 class="card-subtitle mb-2 text-muted blog-author">By {{this.blog_author}}</h6>
        <p class="sub-caption blog-caption">{{this.blog_preview}}</p>
        {{!-- <a href="/a-blog/view?id={{this._id}}&title={{this.blog_title}}&author={{this.blog_author}}&date={{this.blog_date}}" class="card-link" id="{{this._id}}">Read more</a> --}}
        <a href="/a-blog?id={{this._id}}" class="card-link" id="{{this._id}}">Read more</a>
      </div>
    </div>
    <hr>
  </div>
  {{/each}}
</div>

{{!-- <div class="container-fluid d-flex flex-lg-row flex-column justify-content-lg-between align-items-center px-5 mb-3">
  <div class="card bg-light" style="width: 100vp;">
    <img class="card-img-top" src="assets/img/test.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Blog Entry 1</h5>
      <h6 class="card-subtitle mb-2 text-muted">By Author</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="a-blog" class="card-link">Read more</a>
    </div>
  </div>
</div> --}}

{{!-- <div class="container-fluid pb-4">
  <nav aria-label="news-pagination">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div> --}}