<div class="content">
    <!-- Form -->
    <div class="content">
        <div class="cms-breadcrumbs text-uppercase pb-3">
            <a href="cms-donate">Donate</a> / Edit Donation Option
        </div>
        <div id="form-container" class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card cms-blog">
                        <div class="card-header">
                            <h5>Edit Donation Option:</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="donate_type">Mode</label>
                                {{#equals donate_type "GCash"}}
                                <select class="form-control" name="donate_type" id="donate_type">
                                    <option value="{{donate_type}}" selected>{{donate_type}}</option>
                                    <option value="Paymaya">PayMaya</option>
                                    <option value="BPI">BPI
                                    </option>
                                    <option value="BDO">BDO</option>
                                </select>
                                {{/equals}}
                                {{#equals donate_type "PayMaya"}}
                                <select class="form-control" name="donate_type" id="donate_type">
                                    <option value="{{donate_type}}" selected>{{donate_type}}</option>
                                    <option value="GCash">GCash</option>
                                    <option value="BPI">BPI
                                    </option>
                                    <option value="BDO">BDO</option>
                                </select>
                                {{/equals}}
                                {{#equals donate_type "BPI"}}
                                <select class="form-control" name="donate_type" id="donate_type">
                                    <option value="{{donate_type}}" selected>{{donate_type}}</option>
                                    <option value="GCash">GCash</option>
                                    <option value="Paymaya">PayMaya</option>
                                    <option value="BDO">BDO</option>
                                </select>
                                {{/equals}}
                                {{#equals donate_type "BDO"}}
                                <select class="form-control" name="donate_type" id="donate_type">
                                    <option value="{{donate_type}}" selected>{{donate_type}}</option>
                                    <option value="GCash">GCash</option>
                                    <option value="Paymaya">PayMaya</option>
                                    <option value="BPI">BPI
                                    </option>
                                </select>
                                {{/equals}}
                            </div>
                            <div class="form-group">
                                <label for="donate_name">Account Name</label>
                                <input type="text" class="form-control" name="donate_name" id="donate_name"
                                    value="{{donate_name}}">
                            </div>
                            <div class="form-group">
                                <label for="donate_number">Account Number</label>
                                <input type="text" class="form-control" name="donate_number" id="donate_number"
                                    value="{{donate_number}}">
                            </div>
                            <button type="submit" class="btn btn-outline-success">SAVE</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>