<div class="content">
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="card">
          <div class="card-header">
            <div class="row d-flex align-items-center">
              <div class="col">
                <h4 class="card-title">
                  Manage Donation Modes
                </h4>
              </div>
              <div class="col text-right">
                <a href="cms-donate-mode-new-option">
                  <button id="blogeditbtn" type="button" class="btn btn-success">
                    <i class="fas fa-plus-circle"></i> Add a new donation mode
                  </button>
                </a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive text-center">
              <table class="table text-left blog-project-table" id="donate-mode-table">
                <thead class=" text-primary">
                  <th style="width:35%">
                    Mode
                  </th>
                  <th style="width:35%">
                    Color
                  </th>
                  <th class="text-center" style="width:10%">
                    Edit
                  </th>
                  <th class="text-center" style="width:10%">
                    Delete
                  </th>
                  <th class="text-center" style="width:10%">
                    Visible
                  </th>
                </thead>
                <tbody id="entries-table">
                  {{# each donate_info}}
                  <tr>
                    <td class="donate-type">
                      {{this.donatemode_name}}
                    </td>
                    <td class="donate-name">
                      <span>
                        <time class="entry-date">{{this.donatemode_color}}</time>
                      </span>
                    </td>
                    <td class="text-right">
                      <a href="/cms-donate-mode-edit-option?id={{this._id}}">
                        <button id={{this._id}} type="button" class="btn btn-outline-success">Edit</button>
                      </a>
                    </td>
                    <td class="text-right">
                      <button id={{this._id}} type="button" class="btn btn-outline-danger"
                        onclick="deleteConfirm(this)">Delete</button>
                    </td>
                    <td class="text-center donate-switch">
                      <label class="switch">
                        <input type="checkbox" id={{this._id}} onclick="donatemode_change(this)"
                          {{#if donatemode_visible}}checked{{/if}}>
                        <span class="slider round"></span>
                      </label>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  function deleteConfirm(button) {
    var self = $(button).attr('id');
    if (confirm("Are you sure of deleting this donation mode?")) {
      $.ajax({
        url: "/cms-donate-mode/delete",
        data: { id: self },
        success: function (response) {
          window.location.href = 'cms-donate-mode';
        },
        error: function (xhr) { }
      });
    }
  }
</script>