<div class="content">
    <!-- Form -->
    <div class="content">
        <div class="cms-breadcrumbs text-uppercase pb-3">
            <a href="cms-blog">Blog</a> / Edit Blog Entry
        </div>
        <div id="form-container" class="row">
            <div class="col-md-12">
                <form method="post" id="blog_form" enctype="multipart/form-data">
                    <div class="card cms-blog">
                        <div class="card-header">
                            <h5>Edit Blog Entry:</h5>
                        </div>
                        <div class="card-body">
                            <h5 class="cms-font-text-error" id="blog-error">{{blogErrorMessage}}</h5>
                            <div class="form-group">
                                <label for="blog_title">Title</label>
                                <input type="text" class="form-control" id="blog_title" placeholder="Title"
                                    name="blog_title" value="{{blog_content.blog_title}}">
                            </div>
                            <div class="form-group">
                                <label for="blog_author">Author</label>
                                <input type="text" class="form-control" id="blog_author" placeholder="Author"
                                    name="blog_author" value="{{blog_content.blog_author}}">
                            </div>
                            <div class="form-group">
                                <label for="blog_content">Content</label>
                                <input name="blog_content" type="hidden" id="blog_content">
                                <div id="blog-quill">
                                    {{{blog_content.blog_content}}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="blog_preview">Preview Caption</label>
                                <input type="text" class="form-control" id="blog_preview" name="blog_preview"
                                    placeholder="Blog Preview Caption" value="{{blog_content.blog_preview}}">
                            </div>
                            <div class="form-group">
                                <label for="blog_date">Date</label>
                                <input type="date" class="form-control" id="blog_date" name="blog_date"
                                    placeholder="Date" value="{{dateFormat blog_content.blog_date "YYYY-MM-DD"}}">
                            </div>
                            <div class="form-group">
                                <label for="blog_keywords">Keyword</label>
                                <input type="text" class="form-control" id="blog_keywords" placeholder="Keywords"
                                    name="blog_keywords" value="{{blog_content.blog_keywords}}">
                            </div>
                            <div class="pb-2">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="preview-images blog-cover-preview">
                                            <img src="/blog_cover{{blog_content._id}}">
                                        </div>
                                    </div>
                                </div>
                                <label for="blog_cover">Cover Photo</label>
                                <input type="file" name="blog_cover{{blog_content._id}}" id="blog_cover"
                                    class="blog-cover" accept="image/*" />
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-outline-success" id="addBlog">SAVE</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    div.preview-images>img {
        width: 30%;
    }
</style>

<script>
    $(document).ready(function () {
        let imagesPreview = function (input, placeToInsertImagePreview) {
            if (input.files) {
                let filesAmount = input.files.length;
                for (i = 0; i < 1; i++) {
                    let reader = new FileReader();
                    reader.onload = function (event) {
                        $($.parseHTML("<img>"))
                            .attr("src", event.target.result)
                            .appendTo(placeToInsertImagePreview);
                    };
                    reader.readAsDataURL(input.files[i]);
                }
            }
        };

        $("#blog_cover").on("change", function () {
            $(".blog-cover-preview").empty();
            imagesPreview(this, "div.blog-cover-preview");
        });
    });

    //cms-blog-new-page quill
    var blogQuill = new Quill('#blog-quill', {
        modules: {
            toolbar: [
                ['bold', 'italic'], ,
                [{ list: 'ordered' }]
            ]
        },
        placeholder: 'Insert body here.',
        theme: 'snow'
    });

    var blog_form = document.getElementById('blog_form');
    blog_form.onsubmit = function () {
        var blog_content = document.querySelector('input[name=blog_content]');
        blog_content.value = blogQuill.root.innerHTML;
        console.log(blog_content);
        return true;
    };
</script>