<div class="content">
  <div class="cms-breadcrumbs text-uppercase pb-3">
    <a href="cms-applicant-overview">Manage Applicants</a> / All Application Applicants
  </div>
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="card">
          <div class="card-header">
            <div class="row d-flex align-items-center">
              <div class="col">
                <h4 class="card-title">
                  Application Applicants
                </h4>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive text-center">
              <table class="table text-left blog-project-table" id="apps-table">
                <thead class=" text-primary">
                  <th style="width:20%">
                    Last Name
                  </th>
                  <th style="width:20%">
                    First Name
                  </th>
                  <th style="width:30%">
                    E-Mail
                  </th>
                  <th class="text-center" style="width:10%">
                    Review Application
                  </th>
                  <th class="text-center" style="width:10%">
                    Accept
                  </th>
                  <th class="text-center" style="width:10%">
                    Reject
                  </th>
                </thead>
                <tbody id="entries-table">
                  <tr>
                    <td>
                      Tulabot
                    </td>
                    <td>
                      Victor
                    </td>
                    <td>
                      <time class="entry-date">victor_tulabot@dlsu.edu.ph</time>
                    </td>
                    <td class="text-center">
                      <a href=""><button id="blogeditbtn" type="button" class="btn btn-outline-info">Review</button></a>
                    </td>
                    <td class="text-center">
                      <a href=""><button id="blogeditbtn" type="button"
                          class="btn btn-outline-success">Accept</button></a>
                    </td>
                    <td class="text-center">
                      <a href=""><button id="blogeditbtn" type="button"
                          class="btn btn-outline-danger">Reject</button></a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Dominguez
                    </td>
                    <td>
                      Liyana
                    </td>
                    <td>
                      <time class="entry-date">liyana_dominguez@dlsu.edu.ph</time>
                    </td>
                    <td class="text-center">
                      <a href=""><button id="blogeditbtn" type="button" class="btn btn-outline-info">Review</button></a>
                    </td>
                    <td class="text-center">
                      <a href=""><button id="blogeditbtn" type="button"
                          class="btn btn-outline-success">Accept</button></a>
                    </td>
                    <td class="text-center">
                      <a href=""><button id="blogeditbtn" type="button"
                          class="btn btn-outline-danger">Reject</button></a>
                    </td>
                  </tr>
                  {{#each app_info}}
                  <tr>
                    <td>
                      {{this.app_lastname}}
                    </td>
                    <td>
                      {{this.app_firstname}}
                    </td>
                    <td>
                      {{this.app_email}}
                    </td>
                    <td class="text-center">
                      <a href="/cms-applicant/review?id={{this.id}}"><button id="{{this.id}}" type="button"
                          class="btn btn-outline-info">Review</button></a>
                    </td>
                    <td class="text-center">
                      <a href="/cms-applicant/edit?id={{this.id}}"><button id="{{this.id}}" type="button"
                          class="btn btn-outline-success">Accept</button></a>
                    </td>
                    <td class="text-center">
                      <a href="/cms-applicant/reject?id={{this.id}}"><button id="{{this.id}}" type="button"
                          class="btn btn-outline-danger">Reject</button></a>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>