<div class="content">
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="card">
          <div class="card-header">
            <div class="row d-flex align-items-center">
              <div class="col">
                <h4 class="card-title">
                  Blogs
                </h4>
              </div>
              <div class="col text-right">
                <a href="cms-blog-new-page">
                  <button id="blogeditbtn" type="button" class="btn btn-success">
                    <i class="fas fa-plus-circle"></i> Add a new blog entry
                  </button>
                </a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive text-center">
              <table class="table text-left blog-project-table" id="blog-table">
                <thead class=" text-primary">
                  <th style="width:30%">
                    Page
                  </th>
                  <th style="width:40%">
                    Date
                  </th>
                  <th class="text-center" style="width:10%">
                    Edit
                  </th>
                  <th class="text-center" style="width:10%">
                    Delete
                  </th>
                  <th class="text-center" style="width:10%">
                    Published
                  </th>
                </thead>
                <tbody id="entries-table">
                  {{!-- <tr>
                    <td>
                      Project Lumad
                    </td>
                    <td>
                      <time class="entry-date">03/07/2020</time>
                    </td>
                    <td class="text-right">
                      <a href="cms-blog-page"><button id="blogeditbtn" type="button"
                          class="btn btn-outline-success">Edit</button></a>
                    </td>
                    <td class="text-right">
                      <a href=""><button id="blogeditbtn" type="button"
                          class="btn btn-outline-danger">Delete</button></a>
                    </td>
                    <td class="text-right">
                      <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label>
                    </td>
                  </tr> --}}
                  {{#each blog_info}}
                  <tr>
                    <td>
                      {{this.blog_title}}
                    </td>
                    <td>
                      <time class="entry-date">{{this.blog_date}}</time>
                    </td>
                    <td class="text-right">
                      <a href="cms-blog-page"><button id="blogeditbtn" type="button"
                          class="btn btn-outline-success">Edit</button></a>
                    </td>
                    <td class="text-right">
                      <a href="/cms-blog/delete?id={{this._id}}"><button id="{{this._id}}" type="button"
                          class="btn btn-outline-danger">Delete</button></a>
                    </td>
                    <td class="text-right">
                      <label class="switch">
                        <input type="checkbox" id="{{this._id}}" onclick="blog_change(this)"
                          {{#if blog_published}}checked{{/if}}>
                        <span class="slider round"></span>
                      </label>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>