<!-- HEADER -->
<section>
  <div class="container-fluid px-0 box center">
    <div class="header-home d-flex justify-content-center align-items-center">
      <div class="header-text">
        <p style="font-weight: bold;">{{home_content.home_title}}</p>
        <p class="header-sub">{{home_content.home_subtitle}}</p>
      </div>
    </div>
  </div>
</section>

{{!-- Test image! --}}
<div class="container-fluid p-3 text-center">
  <img width="50%" src="../uploads/home_cover_upload.png">
</div>

<!-- CAROUSEL -->
<div class="container-fluid px-5 pt-5 center">
  <div id="homeCarousel" class="carousel slide" data-ride="carousel">
    {{!-- <ol class="carousel-indicators">
      <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#homeCarousel" data-slide-to="1"></li>
      <li data-target="#homeCarousel" data-slide-to="2"></li>
    </ol> --}}
    <div class="carousel-inner">
      <div class="carousel-item {{#if homeactive.proj_showcase}}active{{/if}}">
        <a href="/a-project?id={{homeactive._id}}">
          <img class="d-block w-100" src="assets/img/test.jpg">
        </a>
        <div class="carousel-caption text-center">
          <h5 style="font-size:2vw;">{{homeactive.proj_title}}</h5>
          <p class="d-none d-md-block" style="font-size:1.3vw;">{{homeactive.proj_preview}}</p>
          {{!-- <a href='/a-project?id={{this._id}}' class="d-none d-md-block">
            <button type="button" class="btn btn-secondary">Learn More</button>
          </a> --}}
        </div>
      </div>

      {{!-- {{/each}} --}}

      {{#each home_carousel}}
      <div class="carousel-item">
        <a href="/a-project?id={{this._id}}">
          <img class="d-block w-100" src="assets/img/test.jpg">
        </a>
        <div class="carousel-caption text-center">
          <h5 style="font-size:2vw;">{{this.proj_title}}</h5>
          <p class="d-none d-md-block" style="font-size:1.3vw;">{{this.proj_preview}}</p>
          {{!-- <a href='/a-project?id={{this._id}}' class="d-none d-md-block">
            <button type="button" class="btn btn-secondary">Learn More</button>
          </a> --}}
        </div>
      </div>
      {{/each}}
    </div>
    <a class="carousel-control-prev" href="#homeCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#homeCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- BODY -->
<div class="container-fluid">
  <div class="row p-5 my-1 align-items-center">
    <div class="col">
      <h5 class="font-weight-bold text-uppercase sub-title">{{home_content.home_one_title}}</h5>
      <div class="sub-caption">
        {{{home_content.home_one_content}}}
      </div>
      <a href='about'><button type="button" class="btn btn-secondary">Learn More</button></a>
    </div>
    <div class="col-lg d-none d-lg-block">
      <img src="assets/img/home-1.png" width=100%>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row p-5 my-5 align-items-center">
    <div class="col d-none d-lg-block">
      <img src="assets/img/home-2.png" width=100%>
    </div>
    <div class="col-lg">
      <h5 class="font-weight-bold text-uppercase sub-title">{{home_content.home_two_title}}</h5>
      <div class="sub-caption">
        {{{home_content.home_two_content}}}
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row p-5 my-5 align-items-center">
    <div class="col">
      <h5 class="font-weight-bold text-uppercase sub-title">{{home_content.home_three_title}}</h5>
      <div class="sub-caption">
        {{{home_content.home_three_content}}}
      </div>
    </div>
    <div class="col-lg d-none d-lg-block">
      <img src="assets/img/home-3.png" width=100%>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row p-5 my-5 align-items-center">
    <div class="col d-none d-lg-block">
      <img src="assets/img/home-4.png" width=100%>
    </div>
    <div class="col-lg">
      <h5 class="font-weight-bold text-uppercase sub-title">{{home_content.home_four_title}}</h5>
      <div class="sub-caption">
        {{{home_content.home_four_content}}}
      </div>

      {{!-- <a href='pre-application'>
        <button type="button" class="btn btn-secondary"
          {{#if home_content.home_preapp_button}}{{else}}disabled{{/if}}>Pre-Application</button>
      </a>
      <a href='application'>
        <button type="button" class="btn btn-secondary"
          {{#if home_content.home_app_button}}{{else}}disabled{{/if}}>Application</button>
      </a> --}}

      {{#if home_content.home_preapp_button}}
      <a href='pre-application'>
        <button type="button" class="btn btn-secondary">Pre-Application</button>
      </a>
      {{else}}
      <a href='application'>
        <button type="button" class="btn btn-secondary">Application</button>
      </a>
      {{/if}}
    </div>
  </div>
</div>